!!!5
%html(lang='en')
  %head
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script(src="jquery/jquery.scrollTo.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    %script(src="/bootstrap/js/bootstrap.min.js")
    -# %script(src="gitoe-repo.js")
    -# %script(src="gitoe-draw.js")
    -# %script(src="gitoe.js")
    %title gitoe
    :coffee
      $ ->
        if /\?dev$/.test location.href
          setTimeout location.reload.bind(location), 1000
  %body
    .d-table#all
      .d-trow
        .d-cell#col1
          .d-table
            .d-trow#banner-container
              .d-cell
                #banner
                  %h1 gitoe
            .d-trow#control-container
              .d-cell
                #control
                  %ol
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
                    %li control
        .d-cell#col2
          .d-table
            .d-trow#graph-container
              .d-cell
                #graph
            .d-trow#about-container
              .d-cell
                #about
                  powered by aaaa
