!!!5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script(src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.1.0/fabric.all.min.js")
    %script(src="gitoe.js")
    %title Gitoe -- under construction
  %body
    #all
      #row1
        #main.col1
          %canvas#graph
        #sidebar.col2
          %ul#history
            %li 1
            %li 1
            %li 1
            %li 1
            %li 1
            %li last
      #row2
        #control.col1
        #flash.col2
