!!!5
%html(lang='en')
  %head
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
    -# %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css")
    -# %link(rel="stylesheet" type="text/css" href="reset.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script(src="jquery/jquery.scrollTo.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    %script(src="/bootstrap/js/bootstrap.min.js")
    -# %script(src="gitoe-repo.js")
    -# %script(src="gitoe-draw.js")
    -# %script(src="gitoe.js")
    %title gitoe
    :coffee
      $ ->
        if /\?dev$/.test location.href
          setTimeout location.reload.bind(location), 1000
  %body
    %table.full#all
      %tr
        %td.col1(rowspan=1)
          #banner.min
            banner
        %td.col2(rowspan=2)
          graph
      %tr
        %td.col1(rowspan=2)
          control
      %tr
        %td.col2(rowspan=1).min
          about
