%script(src="raphael-min.js")

%section
  %h2
    recover and visualize git command history
  %br
  %h5
    Wang Guan
  %h6
    2013 Jun

%section
  -# 概要 === git
  %h3 git
  %br/
  %ul
    %li
      distributed concurrent version control
      -# 分散並行
    %li
      cheap and fast branch operation
    %li
      %span(style="color: red;") steep learning curve
      %br
      %span(style="color: blue;") (unless you go deeper)

%section
  %section
    -# 概要 === gitoe
    %h3 gitoe
    %br/
    %ul
      %li
        What git command did I run?
        %br
        ← Recover git command
      %li
        What did the command do?
        %br
        ← Visualize the underlying changes
  %section
    %h3 the name
    %br/
    %h5 git + toe

%section
  -# 構成
  %section
    %h3 screenshot
    %br/
    %img(src="gitoe_browser.png")

  %section
    %h3 server: ruby @ linux

    %br/
    %pre
      %code{"data-trim"=>true, "class"=>"shell"}
        $ gem install gitoe && gitoe
        \. . .
        >> Thin web server (v1.5.1 codename Straight Razor)
        >> Maximum connections set to 1024
        >> Listening on 127.0.0.1:3000, CTRL+C to stop

    %br/
    %ul
      %li
        %a(href="https://github.com/libgit2/rugged") rugged
        %br
        read git repository with ruby
      %li
        %a(href="http://www.sinatrarb.com/") sinatra
        %br
        host the repo information in HTTP

  %section
    %h3 client: coffeescript @ browser
    %br/
    %ul
      %li
        %a(href="http://jquery.com") jQuery
      %li
        %a(href="http://raphaeljs.com") Raphaël
        %br
        javascript vector graph

%section
  -# recover === git
  %section
    %h3 Recover

    %br
    %ul
      %li
        recover executed git commands from reflog
      %li
        reflog: log of reference (in our case, branches)
      %li
        a command can cause multiple entries in reflog
    %pre
      %code(class="git") 0000000000000000000000000000000000000000 b486ccb64a4ee27a71e4e5cf7ac80bcc945bda99 Wang Guan &lt;momocraft@gmail.com&gt; 1372379386 +0000	branch: Created from refs/remotes/github/gh-pages-source

    %ul(style="list-style-type: none;")
      %li
        %span(style="color:darkblue;") ○
        which branch / when / who
      %li
        %span(style="color:darkblue;") ○
        from, to
      %li
        %span(style="color:darkblue;") ○
        a short description
      %li
        %span(style="color:red;") ×
        original command

  %section
    %h3 Visualize

    %br
    %ul
      %li
        layout the commits
      %li
        list the commands
      %li
        show "effect" on command on click

%section
  %section
    %h3 work

    %br
    %ul
      %li
        Wang Guan
        %ul
          %li plan
          %li programming
          %li design
      %br
      %li
        About 10 advisers
        %ul
          %li proposal
          %li feedback

%section
  %h3
    Difficuties
  %br
  %ul
    %li Write and examine patterns in recovering
    %li Show the necessary information, clearly
    %li Try with different packages

%section
  %h3
    You can have my keyboard

  %br
  %ul
    %li
      Discover the needs
    %li
      Plan
    %li
      Implement
    %li
      Improve
