%section
  %h1
    gitoe
  %h2
    recover and visualize git command history
  %br

  %h5
    Wang Guan
  %h6
    2013 Jun

%section
  -# 概要 === git
  %h3 git
  %br

  %ul
    %li
      distributed concurrent version control
      -# 分散並行
    %li
      cheap and fast branch operation
    %li
      %span(style="color: red;") steep learning curve
      %br
      %span(style="color: blue;") (unless you go deeper)

%section
  %section
    -# 概要 === gitoe
    %h3 gitoe
    %h5 tries to answer 2 FAQs
    %br/
    %ul( style=" q { color: pink } ;" )
      %li
        %q What git command did I run?
        %br
        → Recover git command
        %ul
          %li
            %code git commit
          %li
            %code git rebase
          %li
            %code git push
      %li
        %q What did the git command do?
        %br
        → Visualize the underlying changes
        %ul
          %li
            move
            %code refs/heads/master
            from
            %code commit1
            to
            %code commit2

%section
  -# 構成
  %section
    %h3 screenshot
    %br/
    %img(src="/pic/gitoe_screenshot.png")

  %section
    %h3 server: ruby @ linux

    %br/
    %pre
      %code{"data-trim"=>true, "class"=>"shell"}
        $ gem install gitoe && gitoe
        \. . .
        >> Thin web server (v1.5.1 codename Straight Razor)
        >> Maximum connections set to 1024
        >> Listening on 127.0.0.1:3000, CTRL+C to stop

    %br/
    %ul
      %li
        %a(href="https://github.com/libgit2/rugged") rugged
        %br
        read git repository
      %li
        %a(href="http://www.sinatrarb.com/") sinatra
        %br
        host the repo information in HTTP

  %section
    %h3 client: coffeescript @ browser
    %br/
    %ul
      %li
        %a(href="http://jquery.com") jQuery
      %li
        %a(href="http://raphaeljs.com") Raphaël
        %br
        javascript vector graph

%section
  %h3 Recover from reflog

  %br
  %ul
    %li
      reflog: log of references (branches)
  %pre
    %code(class="git")
      \.git/logs/refs/heads/gh-pages-source
      b486ccb64a4ee27a71e4e5cf7ac80bcc945bda99
      809ecd4e2868d5630102f20474a2f19385417c38
      Wang Guan &lt;momocraft@gmail.com&gt;
      1372390398 +0900
      merge origin/gh-pages-source: Fast-forward

  %ul(style="list-style-type: none;")
    %li
      %span(style="color:darkblue;") ○
      which branch / when / who
    %li
      %span(style="color:darkblue;") ○
      from, to
    %li
      %span(style="color:darkblue;") ○
      a short description
    %li
      %span(style="color:red;") ×
      original command
    %li
      %span(style="color:blue;") →
      %code git merge origin/gh-pages-source

%section
  %h3 Visualize

  %br
  %ul
    %li
      list the commands
    %li
      layout and render the commits
    %li
      on click, show "effect" of command
      %ul
        %li
          which branch / when
        %li
          from, to

%section
  %h3 work

  %br
  %ul
    %li
      Wang Guan
      %ul
        %li Plan
        %li
          Programming
          %br
          ruby / coffeescript
        %li
          Design
          %br
          HTML / CSS
    %br
    %li
      About 10 advisers
      %ul
        %li Proposal
        %li Feedback

%section
  %h3
    Difficuties
  %br
  %ul
    %li Write and examine patterns
    %li Find and learn different technologies
    %li Show the necessary information, clearly

%section
  %h3
    You can have my keyboard

  %br
  %ul
    %li
      Discover the needs
    %li
      Plan
    %li
      Implement
    %li
      Improve

%section
  %h3 about
  %br/

  %ul
    %li
      %a(href="http://jokester.tk")
        demo
    %li
      %a(href="https://github.com/jokester/gitoe")
        repo @ github
    %li
      the name
      %br
      gitoe: git + toe
