!!!5
%html(lang='en')
  %head
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script(src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.1.0/fabric.all.min.js")
    %script(src="/bootstrap/js/bootstrap.min.js")
    %script(src="gitoe.js")
    %title gitoe
  %body
    #all.container
      #container.row
        #col1.span3
          %span#flash.alert
          #banner
            %h1 gitoe
          #control-repo
            %legend repo
            %form.form-inline
              %input#input-repo-path(placeholder="path of git repo" type="text" value="/home/mono/config")
              %a.btn#button-open-repo
                %i.icon-folder-open
          #control-refs.hidden
            %legend refs
          #control-history.hidden
            %legend history
            %ul
              %li 1
              %li 1
              %li 1
              %li 1
              %li 1
              %li last
        #col2.span9
          #canvas-container
            %canvas#graph
