!!!5
%html(lang='en')
  %head
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    %script(src="jquery/jquery.scrollTo.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    %script(src="/bootstrap/js/bootstrap.min.js")
    %script(src="gitoe-repo.js")
    %script(src="gitoe-draw.js")
    %script(src="gitoe.js")
    %title gitoe
  %body
    #all.container
      #container.row

        #col1.span3
          %span#flash.alert
          #banner
            %h1 gitoe
          #control-repo_open
            %legend open repository
            %form.form-inline
              / TODO empty here
              %input#input-repo-path(placeholder="path of git repo" type="text" value="/home/mono/gitoe")
              %a.btn#button-open-repo
                %i.icon-folder-open
          #control-repo_status
            %legend overview
            %ul#repo-status
              %li
                %span.path.badge.badge-success ???
              / TODO a refresh-repo button around here
              %br
              %li
                %span.tags.badge.badge-info ?
                %span tags
              %li
                %span.remote.branches.badge.badge-info ?
                %span remote branches
              %li
                %span.local.branches.badge.badge-info ?
                %span local branches
              %li
                %span.commits.badge.badge-info ?
                %span commits
          #control-refs
            %legend refs
          #control-history
            %legend history
            %ul#history
              %li 1
              %li 1
              %li 1
              %li 1
              %li 1
              %li last

        #col2.span9
          #canvas-container
            #graph
