body, html
  height: 100%

#all

.full
  width: 90%
  height: 90%

.col1
  background-color: #eff

.col2
  background-color: #ffe

#graph
  background-color: blue

.min
  height: 0px
#flash
  position: absolute
#flash:empty
  display: none

.control
  overflow-y: scroll
  li
    list-style: none
    .unknown
      color: pink
  .status
    .badge
      text-align: center
      min-width : 4em

// ::-webkit-scrollbar
//   width: 10px
//   height: 10px
// ::-webkit-scrollbar-track
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
//   -webkit-border-radius: 10px
//   border-radius: 10px
// ::-webkit-scrollbar-thumb
//   -webkit-border-radius: 10px
//   border-radius: 10px
//   background: rgba(255,0,0,0.8)
//   //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
// //::-webkit-scrollbar-thumb:window-inactive
//     background: rgba(255,0,0,0.4)
